
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-success">Bolsa de Empleo</h1>
            <p class="lead text-secondary">Bienvenido!!!</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
              <h1>Ofertas Laborales</h1>
        </div>
    </div>
</div>
