<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-success">BOLSA DE EMPLEO</h1>
            <p class="lead text-secondary">Bienvenido!!!</p>
            <hr>
            <%= image_tag('saludo.jpg', size: "1120x300", alt: "Saludo", class: 'rounded', class: 'mx-auto d-block', class: 'img-fluid')%>
            <br>
            <hr>
        </div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="media">
            <div class="media-body">
                <h5 class="display-4 text-success">Ofertas Laborales</h5>
              <p class="lead text-secondary">Esta plataforma es el punto de encuentro entre Empleadores y Postulantes, con solo registrarse los empleadores pueden publicar sus necesidades de colaboradores para sus empresas y los postulantes pueden aplicar a las ofertas de su interés.<br>
              Tu próximo colaborador/empleo a está a un par de clicks!<br><br> Te esperamos!!</p>
                <hr>
            </div>
        </div>
    </div>
</div>
<br>
<br>
